// Typography
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

// Font size
$font-size-base: 15px;

// Font weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colors Primary
$Very_Dark_Magenta: hsl(300, 43%, 22%);
$Soft_Pink: hsl(333, 80%, 67%);

// Colors Neutral
$Dark_Grayish_Magenta: hsl(303, 10%, 53%);
$Light_Grayish_Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);
